<!doctype html>

<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>error</title>
  </head>

  <body>
    <h2>ERROR</h2>
    <p>{{ message}}</p>
    <img
      alt="What are you doing"
      src="https://www.google.com/imgres?q=man%20saying%20what%20are%20you%20doing&imgurl=https%3A%2F%2Fmedia.tenor.com%2FItXmiJXgPqcAAAAe%2Fwhat-are-you-doing-man-colin-jost.png&imgrefurl=https%3A%2F%2Ftenor.com%2Fview%2Fwhat-are-you-doing-man-colin-jost-saturday-night-live-wyd-seriously-gif-16623033&docid=V2RDoZDmg3QGVM&tbnid=v-dztTXT2UAhwM&vet=12ahUKEwikovu5vPqNAxWQ2TgGHYg0DhoQM3oECBoQAA..i&w=640&h=640&hcb=2&ved=2ahUKEwikovu5vPqNAxWQ2TgGHYg0DhoQM3oECBoQAA"
    />
  </body>
</html>
